<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <span class="num-question"> {{ q.id }})</span>&nbsp;
      {{ q.TestoDomanda }}
      <div
        *ngIf="q.profile.nok > 0"
        title="sbagliato {{ q.profile.nok }} volta/e"
      >
        <span class="fa fa-warning fa-solid fa-2x" style="color: orangered">
        </span>
      </div>
      <div
        *ngIf="q.profile.ok > 0"
        title="risposto correttamente {{ q.profile.ok }} volta/e"
      >
        <span class="fa fa-check fa-solid fa-2x" style="color: lightgreen">
        </span>
      </div>
    </button>
  </h2>
  <div
    id="collapseOne"
    class="accordion-collapse collapse show"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
      <div
        class="form-check"
        attr.id="form-ckeck-{{ id }}"
        *ngFor="let r of q.Risposte; let i = index"
      >
        <input
          class="form-check-input"
          type="radio"
          attr.name="flexRadioDefault{{ id }}"
          attr.id="flexRadioDefault{{ id }}-{{ i }}"
          (change)="handleChange(r)"
        />
        <label
          class="form-check-label"
          for="flexRadioDefault{{ id }}-{{ i }}"
          [ngClass]="{
            'correct-reply': r.Corretta && rSelected.Corretta == true
          }"
          [ngClass]="{
            'wrong-reply': r == rSelected && rSelected.Corretta == false
          }"
        >
          <div>
            {{ r.Text }}
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
